@font-face{
	font-family:"mplus";
	src: url(../fonts/mplus-1c-sub-light.woff) format("woff"),url(../fonts/mplus-1c-sub-light.ttf) format("truetype");
	font-weight: 400;
}
@font-face{
	font-family:'mplus';
	src: url(../fonts/mplus-1c-sub-regular.woff) format("woff"),url(../fonts/mplus-1c-sub-regular.ttf) format("truetype");
	font-weight:700;
}
@font-face{
	font-family: "mplus";
	src: url(../fonts/mplus-1c-sub-medium.woff) format("woff"),url(../fonts/mplus-1c-sub-medium.ttf) format("truetype");
	font-weight:900;
}
body{
	font-family: mplus;
	font-weight: 400;
	font-size: 1em;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
}
h1{
	font-size: 1.8em;
}
h2{
	font-size: 1.6em;
}
h3{
	font-size: 1.5em;
}

footer{
	font-size: 0.8em;
}

#pc-header{
	text-align: center;
}
#pc-header > img{
	margin: 200px 0;
	max-width: 800px;
	width: 50%;
}
#smart-header{
	text-align: center;
}
#smart-header > img{
	margin:30px 0;
	width: 80%;
}
.nav > .nav-link{
	color: #6D6D6D;
}
.nav > a.nav-link:hover{
	color: #E60012;
}
.nav > a.nav-link.active{
	color: #e60012;
	background-color: #FFF;
}