@use "utils";

header {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    img {
      width: min(800px, 50%);
    }

    @include utils.media(md) {
      padding: 30px 0;
      img {
        width: 80%;
      }
    }
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    a {
      display: block;
      flex: 1 1 auto;
      text-align: center;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: #6d6d6d;
      &[aria-current="page"],
      &:hover {
        color: #e60012;
      }
    }
  }
}

footer {
  border-top: solid #dee2e6;
  text-align: center;
  padding-block: 3rem 1.5rem;
  margin-top: 4rem;
  small {
    font-size: 0.8em;
  }
}

h2 {
  font-size: 1.6em;
  border-bottom: solid #dee2e6;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1em;
}

dd {
  margin-bottom: 0.25rem;
}

.pc-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;

  @include utils.media(md) {
    display: contents;
  }
}

.flex-1 {
  flex: 1;
  min-width: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem;

  @include utils.media(lg) {
    max-width: 720px;
  }

  @include utils.media(md) {
    max-width: 540px;
  }
}
