$breakpoints: (
  "sm": "screen and (max-width: 576px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 992px)",
) !default;

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
