@use "utils";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  img {
    width: min(800px, 50%);
  }

  @include utils.media(md) {
    padding: 30px 0;
    img {
      width: 80%;
    }
  }
}
