*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font:
    16px/1.7 system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    "Hiragino Sans",
    "Noto Sans JP",
    sans-serif;
}
