@charset "UTF-8";

/* ---------------------
 * FONTSIZE MODEL * 
 * ---------------------
 *  63% ->	10pxに相当
 *  70% ->	11pxに相当
 *  75% ->	12pxに相当
 *  82% ->	13pxに相当
 *  88% ->	14pxに相当
 *  94% ->	15pxに相当
 * 100% ->	16pxに相当
 * 107% ->	17pxに相当
 * 113% ->	18pxに相当
 * 119% ->	19pxに相当
 * 125% ->	20pxに相当
 * --------------------- */


/* ========BASIC======== */
* {
   font-family:"Hiragino Kaku Gothic Pro",HiraKakuPro-W3,"ヒラギノ角ゴ Pro W3","MS P ゴシック",sans-serif;
   color:#333;
}

body {
   background:url(images/bg.gif) fixed;
   letter-spacing:1px;
   line-height:1.6;
}

h1,h2,h3,h4,h5,h6 {
   margin:0;
   padding:0;
   font-weight:normal;
   font-size:88%;/* 14px相当 */
}

p {
   margin:0 0 1em 0;
   padding:0;
   font-size:88%;/* 14px相当 */
}

br {
   letter-spacing:normal;
}

img {
   border:0;
}
a {
   color:#68903C;
   text-decoration:none;
}

a:hover {
   color:#92C45B;
   border-bottom:1px solid #92C45B;
}

dl,ol,ul {
   margin:0 0 1em 0;
   padding:0;
   font-size:88%;/* 14px相当 */
}

li {
   margin:0 0 0 40px;
   padding:0;
}


/* ========TEMPLATE WIREFRAME======== */
div#top {
   width:800px;
   margin:20px auto;
   padding:0 20px;
   border:1px solid #CECFCE;
   background:#fff;
}

div#header {
   width:800px;
   position:relative;
   text-align: center;
}

div#navi {
   position:absolute;
   top:20px;
   right:0;
}

div#menu {
   float:left;
   width:800px;
   margin:10px 0;
   background:#333;
}

div#contents {
   clear:both;
}

div#totop {
   clear:both;
}

div#footer {
   width:800px;
   clear:both;
   padding:10px 0;
}

/* ========HEADER CUSTOMIZE======== */
div#header h1 {
   padding:20px 0;
   font-weight:bold;
   font-size:175%;/* 28px相当 */
}

div#header p {
   margin:0;
   padding:0 0 5px 0;
   border-bottom:1px solid #CECFCE;
}

div#navi ul {
   list-style:none;
}

div#navi li {
   float:left;
   margin:0 0 0 22px;
   padding:0 0 0 20px;
   font-size:82%;/* 13px相当 */
}

div#navi li.sitemap {
   background:url(images/icon_sitemap.gif) 0 50% no-repeat;
}

div#navi li.contact {
   background:url(images/icon_contact.gif) 0 50% no-repeat;
}

div#navi li.feed {
   background:url(images/icon_feed.gif) 0 50% no-repeat;
}

div#navi li a {
   border-bottom:1px solid #CECFCE;
}


/* ========MENU CUSTOMIZE======== */
div#menu ul {
   list-style:none;
   margin:0;
   padding:0;
   font-size:75%;/* 12px相当 */
}
div#menu li {
   float:left;
   margin:0;
   padding:0;
}
div#menu li a {
   display:block;
   padding:8px 20px;
   color:#fff;
}

div#menu li a:hover {
   color:#fff;
   background-color:#68903C;
   border:none;
}

div#menu .on {
   background-color:#68903C;
   color:#fff;
}


/* ========CONTENTS CUSTOMIZE======== */
div#contents h2 {
   font-weight:bold;
   font-size:100%;/* 16px相当 */
   border-left:5px solid #333;
   margin:5px 0;
   padding:2px 0 2px 10px;
   line-height:1.0;
}

div#contents h3 {
   font-weight:bold;
   font-size:94%;/* 15px相当 */
}

div#contents dl {
   margin:0;
   padding:0;
}

div#contents dt {
   text-decoration:underline;
}

div#contents dd {
   margin:0 0 1em 1em;
}

/* Polaroid style photo */
div#contents div.pola {
   float:left;
   clear:both;
   width:222px;
   margin-right:10px;
   padding-bottom:16px;
   background:url(images/bg_pola.gif) no-repeat 100% 100%;
}

div#contents ul.pola {
   clear:both;
   letter-spacing:-0.4em;
   font-size:100%;/* 16px相当 */
   list-style:none;
}

div#contents ul.pola li {
   display:inline-block;
   /display:inline;
   /zoom:1;
   vertical-align:top;
   width:222px;
   margin:0 10px 0 0;
   padding:0 0 16px 0;
   background:url(images/bg_pola.gif) no-repeat 100% 100%;
   letter-spacing:1px;
}

div#contents .pola img {
   padding:10px;
   border-top:1px solid #E7E7E7;
   border-left:1px solid #E7E7E7;
   border-right:1px solid #E7E7E7;
   vertical-align:bottom;
}

div#contents .pola p {
   margin:0;
   padding:0 10px 10px 10px;
   font-size:82%;/* 13px相当 */
   line-height:1.2;
   border-left:1px solid #E7E7E7;
   border-right:1px solid #E7E7E7;
   border-bottom:1px solid #E7E7E7;
}


/* ========TOTOP CUSTOMIZE========= */
div#totop {
   padding:10px 0;
   text-align:right;
   font-size:82%;/* 13px相当 */
}

div#totop a {
   padding:0 0 0 12px;
   background:url(images/bg_totop.gif) 0 60% no-repeat;
}


/* ========FOOTER CUSTOMIZE======== */
address {
   text-align:center;
   font-size:63%;/* 10px相当 */
   font-style:normal;
   padding:20px 0;
   border-top:1px solid #CECFCE;
}
