{% set current = current_path | default(value="") %}

<header>
  <div>
    <a href="/" aria-label="ホーム">
      <img alt="産学間連携推進室のロゴ" src="/img/logo.png" />
    </a>
  </div>
  <nav class="container">
    {% for item in config.extra.nav %}
      {% set href = item.path %}
      {% set is_current = current == href %}
      <a href="{{ href }}"
        {% if is_current %}aria-current="page"{% else %}aria-current="false"{% endif %}>
        {{ item.title }}
      </a>
    {% endfor %}
  </nav>
</header>
